/*Global style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header-nav {
  background-color: #808080;
  border-radius: 0px;
  padding: 25px 25px 0px 25px;
  border: 5px solid #000;
}



.navbar-brand h1{
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  line-height: .75;
  padding: 0;

}

h3 {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: 125%;
    color: #000;
    font-weight: bold;

}

h1 {
    padding: 2%;
    text-align: center;
    font-size: 175%;
}

#title1{
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 5px;
    color: #000;
}

}

p {
    padding: 4%;
    font-size: 100%;
    background-color: #808080;
}

.container-fluid p{
   background-color: #808080;

}

.container-fluid h3{
    background-color: #808080; 
    margin: 0;
}

.container-fluid{
color: #000;
font-weight: bold;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-default .navbar-toggle {
    border-color:#000;
}

#nav-list a{
    color: #000;
    text-align: center;
    font-weight: bold;


}
